body{
    font-family: sans-serif;
    margin: 0;
    /* padding: 0; */
}

a{
    text-decoration: none;
    color: #fff;
}

header{
    display: flex;
    background-color: #14161A;
    padding: 10px;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
    text-align: center;
}

.logo img{
    height: 50px;
    margin-right: 10px;
}

nav a {
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover{
    color: #ffff00 ;
}